*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

.header-area{
 background-color:black;
 height: 110px;
 width: 100%;
 padding: 10px;
 display: flex;    
}

.college-name{  
  margin:5px;
  color:darkseagreen;
  font-size: 30px;
}

.college-logo{
  height:5px;
}

.item-college-nameNlogo-container{
  display: flex;
  justify-content: space-around;
  padding-left: 100px;
}
.header-links-container{
  padding-left: 150px;
  padding-top: 18px;

}
.link-properties{
  font-size: 14px;
  color: darkseagreen;
  display: inline-block;
  padding-left: 8px;
  padding-right: 8px;
  padding-bottom: 10px;
}
.contact-container{
 color: darkseagreen;
 margin-top: 15px;
 margin-left: 90px;
}

.whatsapp-properties{
  height: 30px;
  margin: -7px;
}

.number-properties{
 color: darkseagreen;
 font-size: 20px;
}

.menu-bar-div{
  height: 42px;
  width: 1542px;
}

.dropdown-properties-list{
  height: 42px;
  padding: 11px 24px;
  display: inline-block;
  background-color: aqua;
}

.dropdown-properties-list:hover{
  background-color: rgb(160, 160, 160);
}
.dropdown-button-properties{
  color:black;
  font-size: 15px;
  text-decoration: none;
  font-size: 13px;
} 

.sub-menu-1{
 display: none; 
}

.dropdown-properties-list:hover .sub-menu-1 {
  display: block;
}

.sub-menu-1 ul{
  position: absolute;
  margin-top: 12px;
  margin-left: -24px;
  background-color: aqua;
}  

.sub-menu-1 ul li{
 padding: 14px 20px;
 display: block;

 transition: all;
 transition-duration: 50ms;
 transition-delay: 0ms;
}  

.sub-menu-1 ul li:hover{
  background-color: bisque;
}

.right-arrow-button-properties{
  display: inline-block;
  position: relative;
}

.sub-menu-2{
  display: none; 
}

.sub-menu-1 ul li:hover .sub-menu-2{
  display: block ;
  position: absolute;
  margin-top:-46px ;
  margin-left:289px;
}

.sub-menu-2 ul li{
  right: 2px;
  padding:15px 35px;
  white-space: nowrap;
}